<div class="form-group">
		  <label for="usr">Search or Get by ID:</label>
		  <form class="form-inline">
			  <input type="text" ng-model="search" class="form-control" id='text-area'>
			  <button type="button" ng-click='getData()' class="btn btn-primary">GET</button>
		  </form>
		  <br>
		  <form class="form-inline">
				<input type="text" class="form-control" ng-model="movie.Title" placeholder="Title" required>
				<br>
				<select class="form-control" ng-model="movie.Genre" ng-options="genre.Name for genre in genres">
    				  <option value="">-- choose genre --</option>
   				</select>
   				<br>
   				<input type="date" class="form-control" ng-model="movie.ReleaseDate" placeholder="ReleaseDate" required>
   				<br>
   				<select class="form-control" ng-model="movie.Director" ng-options="director.FirstName group by director.LastName for director in directors">
    				  <option value="">-- choose director --</option>
   				</select>
   				<br>
   				<select class="form-control" ng-model="movie.Language" ng-options="language.Name for language in languages">
    				  <option value="">-- choose language --</option>
   				</select>
   				<br>
				<textarea rows="5" cols="50" class="form-control" ng-model="movie.Description" placeholder="description" required></textarea>
				<br>
				<button type="button" ng-click='insertMovie(movie)' class="btn btn-primary">INSERT</button>
		  </form>

	</div>
	<div ng-show="specificMovie" class="well" align="center">
		<p><h3>Search Table</h3></p>
		<table class="table table-hover">
			<thead>
				 <tr class="bg-primary">
					<th>Id</th>
					<th>Title</th>
					<th>Description</th>
					<th>Genre</th>
					<th>ReleaseDate</th>
					<th>Director</th>
					<th>Language</th>
				  </tr>
			</thead>

			<tbody>
				<tr>
					<td>{{specificMovie.MovieId}}</td>
					<td>{{specificMovie.Title}}</td>
					<td>{{specificMovie.Description}}</td>
					<td>{{specificMovie.Genre.Name}}</td>
					<td>{{specificMovie.ReleaseDate}}</td>
					<td>{{specificMovie.Director.FirstName}} {{specificMovie.Director.LastName}}</td>
					<td>{{specificMovie.Language.Name}}</td>
				</tr>
			</tbody>

		</table>
	</div>
<div class="thumbnail" align="center">
	<p><h3>Movies</h3></p>
		<table class="table table-hover">
			<thead>
			  <tr class="bg-primary">
				<th>ID</th>
				<th>Title</th>
				<th>Description</th>
				<th>Genre</th>
				<th>ReleaseDate</th>
				<th>Director</th>
				<th>Language</th>
			  </tr>
			</thead>
			<tbody  >
			  <tr ng-repeat="movie in movies | filter:search">
					<!--<nw-movie> </nw-movie>-->
				<td>{{movie.MovieId }}</td>
				<td>{{movie.Title}}</td>
				<td>{{movie.Description}}</td>
				<td>{{movie.Genre.Name}}</td>
				<td>{{movie.ReleaseDate}}</td>
				<td>{{movie.Director.FirstName + " " + movie.Director.LastName}}</td>
				<td>{{movie.Language.Name}}</td>
			  </tr>
			</tbody>
		</table>
</div>